body{
	background-color: #ddd;
	font-family: 'Space Mono', monospace;
	padding: 20px;
	-webkit-font-smoothing: antialiased;
}

h4{
	margin-top: 40px;
}

.website{
	background-color: white;
}

.box-container{
	border: 1px dashed #666;
	margin: 180px -20px;
	transform:skewY(-10deg);
	background-color: white;
	/*transform-origin: 0 0;*/

}


.box-container img{
	width: 100%;
	height: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%)skewY(10deg);

}

.box-container img{
	width: 100%;
	height: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%)skewY(10deg)scale(1);
	transition: transform 0.3s ease-out;
}

.img-container{
	height: 200px;
	overflow: hidden;

	margin: 0 -15px;
}

.item{
	cursor: pointer;
}

.item:hover img{
	transform: translateY(-50%)skewY(10deg)scale(1.2);
}


