/* Demo */
body {
  background-color: #ddd;
  font-family: 'Space Mono', monospace; }

h1 {
  padding-left: 20px; }

article {
  padding: 40px 20px; }
  article.approfondimento {
    background-color: white;
    margin: 0 60px; }
  article h6 {
    position: relative;
    top: -50px; }

.box-container {
  margin: 20px;
  position: relative;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.28); }

.box {
  color: white;
  background-color: DodgerBlue;
  border: 1px solid white;
  margin: 5px;
  transition: width 2s ease-in-out;
  display: flex; }

#my-gui-container3 {
  position: absolute;
  top: 0;
  right: 0; }
  #my-gui-container3 .dg.a {
    margin-right: 0; }
