/* Demo */

body{
  background-color: #ddd;
  font-family: 'Space Mono', monospace;


}

h1{
  padding-left: 20px;
}


article{
  padding: 80px 20px;


  &.approfondimento{
	background-color: white;
	margin: 0 60px;
  }
  
  h6{
	position: relative;
	top: -50px;
  }

}



.box-container{
  border: 1px dashed #666;
  margin: 20px;
  //width: 400px;
  position: relative;
  height: 200px;
  resize: both;
  overflow: hidden;
  //flex-wrap: wrap;
  //align-content: flex-start;

  &.mini{
	width: 150px;
	height: 160px;
	margin: 10px;
  }

}

.box{
  //flex-basis: 200px;
  //width: 200px;
  //flex-grow: 1;
  //flex-shrink: 0;
  color: white;
  background-color: DodgerBlue;
  border: 1px solid white;
  margin: 5px;
  transition: width 2s ease-in-out;
  display: flex;
  //flex-direction: column;
  //justify-content: center;
  //text-align: center;
}



$main-axis-color: blue;
$cross-axis-color: red;



.main-axis{
  width: 100%;
  height: 1px;
  top: 50%;
  position: absolute;
  border: 1px dashed $main-axis-color;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  &:before{
	content:"Main axis";
	top: -20px;
	left: 0;
	position: absolute;
	color: $main-axis-color ;
	transition: all 0.3s ease-in-out;

  }

  &:after{
	content:"";
	width: 0;
	height: 0;
	position: absolute;
	right: 0;
	top: -7px;

	border-style: solid;
	border-width: 7px 0 7px 10px;
	border-color: transparent transparent transparent $main-axis-color;

  }

}

.cross-axis{
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  position: absolute;
  border: 1px dashed $cross-axis-color;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  &:before{
	content:"Cross axis";
	top: 0;
	left: 20px;
	position: absolute;
	color: $cross-axis-color ;
	transition: all 0.3s ease-in-out;

  }

  &:after{
	content:"";
	width: 0;
	height: 0;
	position: absolute;
	right: -7px;
	bottom: 0;
	border-style: solid;
	border-width: 10px 7px 0 7px;
	border-color: $cross-axis-color transparent transparent transparent;


  }

}

.show-axis{


  &.reverse{

	.main-axis{

	  &:before{
		right: 0;
		left: auto;
	  }


	  &:after{
		transform: rotate(180deg);
		left: 0;
	  }

	}

  }

  &.perp, &.perp-reverse {

	.main-axis {
	  width: 1px;
	  height: 100%;
	  top: 0;
	  left: 50%;
	  position: absolute;
	  border: 1px dashed $main-axis-color;
	  transition: all 0.3s ease-in-out;
	  opacity: 0;

	  &:before{
		content:"Main axis";
		top: 0;
		left: 20px;
		position: absolute;
		color: $main-axis-color;
		transition: all 0.3s ease-in-out;

	  }

	  &:after{
		content:"";
		width: 0;
		height: 0;
		position: absolute;
		right: -7px;
		top: auto;
		bottom: 0;
		border-style: solid;
		border-width: 10px 7px 0 7px;
		border-color: $main-axis-color transparent transparent transparent;


	  }

	}

	.cross-axis {
	  width: 100%;
	  height: 1px;
	  top: 50%;
	  left: 0;
	  position: absolute;
	  border: 1px dashed $cross-axis-color;
	  transition: all 0.3s ease-in-out;
	  opacity: 0;

	  &:before{
		content:"Cross axis";
		top: -20px;
		left: 0;
		position: absolute;
		color: $cross-axis-color;
		transition: all 0.3s ease-in-out;

	  }

	  &:after{
		content:"";
		width: 0;
		height: 0;
		position: absolute;
		right: 0;
		top: -7px;

		border-style: solid;
		border-width: 7px 0 7px 10px;
		border-color: transparent transparent transparent $cross-axis-color;

	  }

	}

  }

  &.perp-reverse{

	.main-axis {
	  width: 1px;
	  height: 100%;
	  top: 0;
	  left: 50%;
	  position: absolute;
	  border: 1px dashed $main-axis-color;
	  transition: all 0.3s ease-in-out;
	  opacity: 0;

	  &:before{
		top: auto;
		bottom: 0;
	  }

	  &:after{
		transform: rotate(180deg);
		top: 0;
		bottom: auto;
	  }

	}

  }


  &:hover{

	.main-axis{
	  opacity: 1;
	}

	.cross-axis{
	  opacity: 1;
	}

  }
}






/* Content */


.flex{
  display: flex;
}

.flex-inline{
  display: inline-flex;
}


.justify-content{

  &.center{
	justify-content: center;
  }

  &.flex-start{
	justify-content: flex-start;
  }

  &.flex-end{
	justify-content: flex-end;
  }

  &.space-between{
	justify-content: space-between;
  }

  &.space-around{
	justify-content: space-around;
  }



}


.flex-direction{

  &.row{
	flex-direction: row;
  }

  &.row-reverse{
	flex-direction: row-reverse;
  }

  &.column{
	flex-direction: column;
  }

  &.column-reverse{
	flex-direction: column-reverse;
  }


}


/* Flex Grow */

.flex-grow{
  .main{
	flex-grow: 1;
  }
}


/* Flex Shrink */

.flex-shrink{
	.box{
		flex-grow: 1;
	}

  	.fixed-column{
	  flex-basis: 100px;
	  flex-shrink: 0;
	  flex-grow: 0;
	}


}


/* Align Items */


.align-items{

  margin-top: 50px;
  vertical-align:top; /* Non Flex CSS */


  code{
	position: absolute;
	top: -30px;
	left: 0;
  }

  &.stretch{
	align-items: stretch;
  }


  &.center{
	align-items: center;
  }

  &.flex-start{
	align-items: flex-start;
  }

  &.flex-end{
	align-items: flex-end;
  }

  &.baseline{
	align-items: baseline;
  }


}


/* Align Self */

.align-self{
  width: 300px;
}

.align-self-element{
  align-self: flex-end;
  margin: 5px;
}


/* Flex Wrap */

.flex-wrap{

	height: auto;

  .box{
	height: 200px;
  }

  &.nowrap{
	flex-wrap: nowrap;
  }

  &.wrap{
	flex-wrap: wrap;
  }

  &.wrap-reverse{
	flex-wrap: wrap-reverse;
  }

}

/* Align content */

.align-content{

  .box{
	height: 20px;
  }

  &.stretch{
	align-content: stretch;
  }

  &.flex-start{
	align-content: flex-start;
  }

  &.space-between{
	align-content: space-between;
  }

}



/* Order */

.order{

  .box{
	flex-grow: 1;
  }

  .box-3{
	background-color: lighten(DodgerBlue, 20);
	order: -1;
  }

  &.list{
	height: auto;
	flex-direction: column;

	.box{
	  display: flex;
		background-color: transparent;
	  	border-color: transparent;
	  align-items: center;


	  &:nth-child(even){
		.img{
		  order: 1;
		}
	  }

	  p{
		color: initial;
		padding: 15px;
	  }

	  .img{
		width: 150px;
		height: 150px;
		background-color: dodgerblue;
		border: 1px solid white;
		flex-shrink: 0;
	  }

	}


  }

  &.featured{
	flex-wrap: wrap;
	height: auto;
	justify-content: flex-start;
	align-content: space-between;

	.box{
	  height: 100px;
	  flex: 0 0 100px;
	}

	.featured-element{
	  order: -1;
	  background-color: lighten(DodgerBlue, 20);
	}


  }


}


