/* Demo */
body {
  background-color: #ddd;
  font-family: 'Space Mono', monospace; }

h1 {
  padding-left: 20px; }

article {
  padding: 80px 20px; }
  article.approfondimento {
    background-color: white;
    margin: 0 60px; }
  article h6 {
    position: relative;
    top: -50px; }

.box-container {
  border: 1px dashed #666;
  margin: 20px;
  position: relative;
  height: 200px;
  resize: both;
  overflow: hidden; }
  .box-container.mini {
    width: 150px;
    height: 160px;
    margin: 10px; }

.box {
  color: white;
  background-color: DodgerBlue;
  border: 1px solid white;
  margin: 5px;
  transition: width 2s ease-in-out;
  display: flex; }

.main-axis {
  width: 100%;
  height: 1px;
  top: 50%;
  position: absolute;
  border: 1px dashed blue;
  transition: all 0.3s ease-in-out;
  opacity: 0; }
  .main-axis:before {
    content: "Main axis";
    top: -20px;
    left: 0;
    position: absolute;
    color: blue;
    transition: all 0.3s ease-in-out; }
  .main-axis:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: -7px;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent blue; }

.cross-axis {
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  position: absolute;
  border: 1px dashed red;
  transition: all 0.3s ease-in-out;
  opacity: 0; }
  .cross-axis:before {
    content: "Cross axis";
    top: 0;
    left: 20px;
    position: absolute;
    color: red;
    transition: all 0.3s ease-in-out; }
  .cross-axis:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -7px;
    bottom: 0;
    border-style: solid;
    border-width: 10px 7px 0 7px;
    border-color: red transparent transparent transparent; }

.show-axis .flex-start-label, .show-axis .flex-end-label {
  color: blue;
  position: absolute;
  opacity: 0;
  bottom: -20px;
  transition: all 0.3s ease-in-out; }
.show-axis .flex-start-label {
  left: 0;
  border-left: 1px solid blue;
  padding-left: 10px; }
.show-axis .flex-end-label {
  right: 0;
  border-right: 1px solid blue;
  padding-right: 10px; }
.show-axis.reverse .main-axis:before {
  right: 0;
  left: auto; }
.show-axis.reverse .main-axis:after {
  transform: rotate(180deg);
  left: 0; }
.show-axis.perp .main-axis, .show-axis.perp-reverse .main-axis {
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  position: absolute;
  border: 1px dashed blue;
  transition: all 0.3s ease-in-out;
  opacity: 0; }
  .show-axis.perp .main-axis:before, .show-axis.perp-reverse .main-axis:before {
    content: "Main axis";
    top: 0;
    left: 20px;
    position: absolute;
    color: blue;
    transition: all 0.3s ease-in-out; }
  .show-axis.perp .main-axis:after, .show-axis.perp-reverse .main-axis:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -7px;
    top: auto;
    bottom: 0;
    border-style: solid;
    border-width: 10px 7px 0 7px;
    border-color: blue transparent transparent transparent; }
.show-axis.perp .cross-axis, .show-axis.perp-reverse .cross-axis {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  position: absolute;
  border: 1px dashed red;
  transition: all 0.3s ease-in-out;
  opacity: 0; }
  .show-axis.perp .cross-axis:before, .show-axis.perp-reverse .cross-axis:before {
    content: "Cross axis";
    top: -20px;
    left: 0;
    position: absolute;
    color: red;
    transition: all 0.3s ease-in-out; }
  .show-axis.perp .cross-axis:after, .show-axis.perp-reverse .cross-axis:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: -7px;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent red; }
.show-axis.perp-reverse .main-axis {
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  position: absolute;
  border: 1px dashed blue;
  transition: all 0.3s ease-in-out;
  opacity: 0; }
  .show-axis.perp-reverse .main-axis:before {
    top: auto;
    bottom: 0; }
  .show-axis.perp-reverse .main-axis:after {
    transform: rotate(180deg);
    top: 0;
    bottom: auto; }
.show-axis:hover .flex-start-label, .show-axis:hover .flex-end-label {
  opacity: 1; }
.show-axis:hover .main-axis {
  opacity: 1; }
.show-axis:hover .cross-axis {
  opacity: 1; }
.show-axis.show-fixed {
  overflow: visible; }
  .show-axis.show-fixed .flex-start-label, .show-axis.show-fixed .flex-end-label {
    opacity: 1; }
  .show-axis.show-fixed .main-axis {
    opacity: 1; }
  .show-axis.show-fixed .cross-axis {
    opacity: 1; }

/* Content */
.flex {
  display: flex; }

.flex-inline {
  display: inline-flex; }

.justify-content.center {
  justify-content: center; }
.justify-content.flex-start {
  justify-content: flex-start; }
.justify-content.flex-end {
  justify-content: flex-end; }
.justify-content.space-between {
  justify-content: space-between; }
.justify-content.space-around {
  justify-content: space-around; }

.flex-direction.row {
  flex-direction: row; }
.flex-direction.row-reverse {
  flex-direction: row-reverse; }
.flex-direction.column {
  flex-direction: column; }
.flex-direction.column-reverse {
  flex-direction: column-reverse; }

/* Flex Grow */
.flex-grow .main {
  flex-grow: 1; }

/* Flex Shrink */
.flex-shrink .box {
  flex-grow: 1; }
.flex-shrink .fixed-column {
  flex-basis: 100px;
  flex-shrink: 0;
  flex-grow: 0; }

/* Align Items */
.align-items {
  margin-top: 50px;
  vertical-align: top;
  /* Non Flex CSS */
  overflow: visible; }
  .align-items code {
    position: absolute;
    top: -30px;
    left: 0; }
  .align-items.stretch {
    align-items: stretch; }
  .align-items.center {
    align-items: center; }
  .align-items.flex-start {
    align-items: flex-start; }
  .align-items.flex-end {
    align-items: flex-end; }
  .align-items.baseline {
    align-items: baseline; }

/* Align Self */
.align-self {
  width: 300px; }

.align-self-element {
  align-self: flex-end;
  margin: 5px; }

/* Flex Wrap */
.flex-wrap {
  height: auto; }
  .flex-wrap .box {
    height: 200px; }
  .flex-wrap.nowrap {
    flex-wrap: nowrap; }
  .flex-wrap.wrap {
    flex-wrap: wrap; }
  .flex-wrap.wrap-reverse {
    flex-wrap: wrap-reverse; }

/* Align content */
.align-content .box {
  height: 20px; }
.align-content.stretch {
  align-content: stretch; }
.align-content.flex-start {
  align-content: flex-start; }
.align-content.space-between {
  align-content: space-between; }

/* Order */
.order .box {
  flex-grow: 1; }
.order .box-3 {
  background-color: #84c2ff;
  order: -1; }
.order.list {
  height: auto;
  flex-direction: column; }
  .order.list .box {
    display: flex;
    background-color: transparent;
    border-color: transparent;
    align-items: center; }
    .order.list .box:nth-child(even) .img {
      order: 1; }
    .order.list .box p {
      color: initial;
      padding: 15px; }
    .order.list .box .img {
      width: 150px;
      height: 150px;
      background-color: dodgerblue;
      border: 1px solid white;
      flex-shrink: 0; }
.order.featured {
  flex-wrap: wrap;
  height: auto;
  justify-content: flex-start;
  align-content: space-between; }
  .order.featured .box {
    height: 100px;
    flex: 0 0 100px; }
  .order.featured .featured-element {
    order: -1;
    background-color: #84c2ff; }
